<div id="reckoning-client reckoning-create" class="paper-content" layout-fill layout="column">
    <navbar back="home"></navbar>
    <md-content md-theme="secondary" class="md-padding paper-heading" layout="column">
        <md-input-container layout="row">
            <md-input-container layout-fill>
                <label>Client</label>
                <input ng-model="client.name">
                <div ng-messages="client.name.$error" ng-show="client.name.$dirty">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </md-input-container>
        <md-input-container layout-fill>
            <label>Email</label>
            <input ng-model="client.email" type="email">
            <div ng-messages="client.email.$error" ng-show="client.email.$dirty">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </md-content>
    <md-content md-theme="secondary" class="md-padding paper-content">
        <form name="userForm">
            <md-input-container flex>
                <label><h3>Contact Details</h3></label>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="client.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="theMax">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Address</label>
                <input ng-model="client.address1">
            </md-input-container>
            <md-input-container flex>
                <input ng-model="client.address2">
            </md-input-container>
            <md-input-container flex>
                <input ng-model="client.address3">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City</label>
                    <input ng-model="client.city">
                </md-input-container>
                <md-input-container flex>
                    <label>State</label>
                    <input ng-model="client.state">
                </md-input-container>
                <md-input-container flex>
                    <label>Postal Code</label>
                    <input ng-model="client.postalCode">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Phone Number</label>
                <input ng-model="client.phone">
            </md-input-container>
            <md-input-container flex>
                <label>Notes</label>
                <textarea ng-model="client.biography" columns="1" md-maxlength="1000"></textarea>
                <div ng-messages="client.$error" ng-show="client.$dirty">
                    <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
</div>
