<div layout="column" id="reckoning-desktop" layout-fill>

    <md-whiteframe class="md-whiteframe-z2" flex>
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Recent Clients</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content class="md-padding" flex>
            <md-list>
                <md-item ng-repeat="client in recentClients">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.notes}}
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>

        <md-toolbar class="md-warn md-hue-3">
            <span flex></span>
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                <span class="md-flex">asdasdasd)</span>
            </h2>
        </md-toolbar>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z2" flex>
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Recent Invoices</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content class="md-padding">
            <md-list>
                <md-item ng-repeat="invoice in recentInvoices">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.notes}}
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>

        <md-toolbar class="md-warn md-hue-3">
            <span flex></span>
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                <span class="md-flex">asdasdasd)</span>
            </h2>
        </md-toolbar>
    </md-whiteframe>
</div>
