<div id="reckoning-desktop" layout-fill layout="column">
    <header ng-include="'components/navbar/navbar.html'"></header>
    <md-whiteframe class="md-whiteframe-z2" flex>
        <md-toolbar md-theme="secondary" flex>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Recent Clients</span>
                </h2>
            </div>
        </md-toolbar>

        <md-content class="md-padding" flex>
            <md-list class="reckoning-list">
                <md-item ng-repeat="client in recentClients">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.notes}}
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>

        <md-toolbar md-theme="secondary" class="md-hue-1" flex>
            <h3 class="md-toolbar-tools" layout-align="end center">
                <md-button md-theme="secondary-dark"
                           class="md-raised md-primary md-hue-2"
                           ng-href="/#/clients">All Clients&hellip;</md-button>
            </h3>
        </md-toolbar>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z2" flex>
        <md-toolbar md-theme="secondary">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Recent Invoices</span>
                </h3>
            </div>
        </md-toolbar>

        <md-content class="md-padding">
            <md-list>
                <md-item ng-repeat="invoice in recentInvoices">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{item.face}}" alt="{{item.who}}" class="face">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.notes}}
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>

        <md-toolbar md-theme="secondary" class="md-hue-1">
            <h3 class="md-toolbar-tools md-toolbar-tools-bottom" layout-align="end center">
                <md-button md-theme="secondary-dark"
                           class="md-raised md-primary md-hue-2"

                           ng-href="/#/invoices">All Invoices&hellip;</md-button>
            </h3>
        </md-toolbar>
    </md-whiteframe>

    
    <footer>
        <md-toolbar layout="row" layout-align="center center">
            &copy; 2015 Waterside Development (UK) Ltd. - Most Rights Reserved
        </md-toolbar>
    </footer>
</div>
