md-whiteframe {
  background: #fff;
  display: block;
  margin: 20px;
  md-content {
    padding: 20px;
  }
}

#reckoning-app {
  height: 100%;
}

#reckoning-desktop {
  md-whiteframe {
    display: block;
    .reckoning-list {
      display: block;
    }
  }
}

// injector
// endinjector
