
md-whiteframe {
  background: #fff;
  display: block;
  margin: 20px;
  md-content {
    padding: 20px;
  }
}

#reckoning-app {
  height: 100%;
}

#reckoning-desktop {
  md-whiteframe {
    display: block;
    .reckoning-list {
      display: block;
    }
  }
  overflow: hidden;
}

.scroll-container {
  background: rgba(238, 232, 170, 0.34);

}

.paper-heading {
  background-color: #fffff0 !important;
}

.paper-content {
  background-color: #fcfffa !important;
}

// injector
// endinjector
