<md-toolbar layout="row" class="md-hue-2">
    <section flex-order="1" flex="33" layout="row" layout-align="start center">
        <md-button
                md-theme="secondary"
                ng-if="back"
                ui-sref="{{back}}">
            <small>&lt;</small>
        </md-button>
    </section>

    <section flex-order="2" flex="33" layout="row" layout-align="center center">
        <md-button href="#" >Reckoning</md-button>
    </section>
<!--
    <section flex-order="3" flex="33" layout="row" layout-align="end center">
        <md-button href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button>
    </section>
-->
</md-toolbar>
